.idea
node_modules
config.js
.DS_Store
# DataProcess
DataProcess/*
!DataProcess/*.py
!DataProcess/exportData

# Backend
*.pyc
TyphoonApi/TyphoonApi/settings.py
TyphoonApi/db.sqlite3
TyphoonApi/*.pyc
TyphoonApi/*/*.pyc

# DATABASE
*.sqlite3
*.sqlite3 copy


# web serve
404.html
.htaccess
.user.ini
.well-known/*
404.html
TyphoonApi/nohup.out
