.idea
node_modules
config.js
.DS_Store
# DataProcess
DataProcess/*
!DataProcess/*.py
!DataProcess/exportData

# Backend
*.pyc
TyphoonApi/TyphoonApi/settings.py
TyphoonApi/*/migrations
TyphoonApi/db.sqlite3

