circle .typhoon{
    color: #ff0000;
    weight:2;
    fillColor: #ff8c00
}

.speed-1{
    fill:#00D5CB;
    fill:#FCFA00;
    fill:#FDAE0D;
    fill:#FB3B00;
    fill:#FC4d80;
    fill:#C2218E;

    fill:#000000;
    fill:#f0dade;
    fill: #f6bfae;
    fill: #fb9f9c;
    fill: #f36078;
    fill: #d71058;
    fill: #a70943;
}
